.svelte-m512jd.item-image,.svelte-m512jd .item-image{width:100%;height:100%;overflow:hidden;opacity:1;user-select:none;transition:opacity 0.3s ease;object-fit:cover}.svelte-m512jd.item-image.hidden,.svelte-m512jd .item-image.hidden{opacity:0}
/*
     FILE ARCHIVED ON 00:06:28 Jul 07, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:40:12 Jan 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 141.238
  exclusion.robots: 0.123
  exclusion.robots.policy: 0.114
  RedisCDXSource: 5.885
  esindex: 0.008
  LoadShardBlock: 106.977 (3)
  PetaboxLoader3.datanode: 133.222 (5)
  CDXLines.iter: 23.453 (3)
  load_resource: 170.332 (2)
  PetaboxLoader3.resolve: 80.989 (2)
*/